# Keep misc-include-cleaner disabled: Wayland-generated headers cause false positives.
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-unchecked-string-to-number-conversion,
  clang-analyzer-*,
  -clang-analyzer-osx.*,
  -clang-analyzer-security.ArrayBound,
  -clang-analyzer-optin.osx.*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  performance-*,
  portability-*,
  readability-function-cognitive-complexity,
  readability-redundant-*,
WarningsAsErrors: 'readability-function-cognitive-complexity'
HeaderFilterRegex: 'src/.*'
CheckOptions:
  readability-function-cognitive-complexity.Threshold: '25'
